<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.sgiomob" version="2.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>СГИОМОБ</name>
    <description>Simple maps</description>
    <content src="index.html" />
    <icon src="www/resources/sgio.png" />

    <platform name="android">
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" android:maxSdkVersion="30" />

        <!-- Поддержка legacy storage -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>

        <!-- Целевая версия SDK -->
        <preference name="AndroidTargetSdkVersion" value="31" />
        <preference name="AndroidMinSdkVersion" value="21" />
    </platform>

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
