<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.sgiomob" version="0.9.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>СГИОМОБ</name>
    <description>Simple maps</description>
    <content src="index.html" />
    <icon src="www/resources/sgio.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
