<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button>
                <ons-back-button>Back</ons-back-button>
            </ons-toolbar-button>
        </div>
        <div class="center" id="title">
            Панель свойств объекта
        </div>
    </ons-toolbar>
    <div id="local-map"></div>
    <div id="table"></div>
    <script>

        ons.getScriptPage().onInit = function() {
            let clone_raster = new ol.layer.Tile({source: raster.getSource()})
            var local_map = new ol.Map({
                    target: 'local-map',
                    controls: [],
                    interactions: [],
                    layers: [clone_raster]
                });
            var layer = findLayer(this.data.layerID)
            let atribs = []
            for(atrib of layer.atribs){
                atribs.push(atrib.name)
            }
            let query = "SELECT AsText(Geometry) as geom, " + atribs.join(', ') + " from " + this.data.layerID + 
            " WHERE id = " + this.data.featureID
            getDataFromDB(query, function(data){
                var table = "<table>" 
                for(atrib of layer.atribs){
                    if(checkServiceFiled(atrib.name)){
                        continue
                    }
                    table += "<tr>" + 
                        `<td class='title'>${atrib.label}</td>`
                    if(atrib.type == "BOOLEAN"){
                        table += `<td class='checkbox'><ons-checkbox value=${atrib.name} disabled`
                        if(data.rows.item(0)[atrib.name] === 1){
                            table += " checked "
                        }
                        table += `></td>`
                    }
                    else if(atrib.type == "DATE"){
                        let date_insp = data.rows.item(0)[atrib.name]
                        if(date_insp !== 0 && typeof date_insp !== 'undefined'){
                            table += `<td class='content'>${new Date(date_insp).toLocaleString() }</td>`
                        }
                    }
                    else{
                        if(typeof data.rows.item(0)[atrib.name] == 'undefined'){
                            table +=  `<td class='content'></td>`
                        }
                        else{
                            table += `<td class='content'>${data.rows.item(0)[atrib.name]}</td>`
                        }
                    }
                        table += "</tr>"
                }
                table = addMetricCharacter(layer, table, data.rows.item(0).geom)
                table += "</table>"
                var content = document.getElementById("table");
                content.innerHTML = table
            })
            const queryMap = "SELECT AsText(Geometry) as geom from " + this.data.layerID +
             " WHERE id = "  + this.data.featureID
            getDataFromDB(queryMap, function(data){
                
                const format = new ol.format.WKT();
                var wkt = data.rows.item(0).geom
                var feature = format.readFeature(wkt.replace(/nan/g, "0"))
                var source = new ol.source.Vector()
                source.addFeature(feature)
                var clonedLayer = new ol.layer.Vector({
                    style: layer.getStyle()
                });
                clonedLayer.setSource(source)
                local_map.addLayer(clonedLayer)
                local_map.setView(new ol.View({
                    center: feature.getGeometry().getClosestPoint([0,0]),
                    zoom:  currentMapView.getMaxZoom()
                }))

                local_map.on('click', function(evt){
                    centerOnFeature(feature.getGeometry().getClosestPoint([0,0]))
                })
            })
        }

        function checkServiceFiled(label){
            if(label == 'lg_attach'){
                return true
            }
            return false
        }

        function addMetricCharacter(layer, table, geom){
            const format = new ol.format.WKT();
            let wkt = geom
            let feature = format.readFeature(wkt.replace(/nan/g, "0"))
            let geometry = feature.getGeometry()
            switch(layer.geometryType){
                case "MULTIPOINT":
                    table += `<td class='title'>Координаты точки</td>`
                    let coords = geometry.getCoordinates()
                    let str = coords.toString()
                    let arr = str.split(',')
                    let lonlat = ol.proj.toLonLat([parseInt(arr[0]), parseInt(arr[1])]);
                    table += `<td class='content'>${lonlat}</td>`
                    break
                case 'MULTILINESTRING':
                    table += `<td class='title'>Длина линии</td>`
                    table += `<td class='content'>${ol.sphere.getLength(geometry)}</td>`
                    break
                case 'MULTIPOLYGON':
                    table += `<td class='title'>Площадь</td>`
                    table += `<td class='content'>${ol.sphere.getArea(geometry)}</td>`
                    break
            }
            return table
        }

        function centerOnFeature(center){
            let navigator = document.querySelector('#myNavigator')
            currentMapView.setCenter(center)
            currentMapView.setZoom(currentMapView.getMaxZoom())
            navigator.popPage({times: navigator.pages.length - 1})
            
        }

    </script>
    <style>
  		table {
            width: 100%;  
            border-collapse: separate;
            border-spacing: 20;
            background-color: white;
        }
        .title {
        	width: 20%;
            text-align: right; 
            font-weight: bold;
        }
        .content {
            text-align: center; 
        	width: 70%;
        }
        .checkbox {
            width: 70%;
            text-align: center; 
            vertical-align: middle;
        }
        #local-map {
            margin: 0;
            height: 30%;
            width: 100%;
            font-family: sans-serif;
        }
    </style>
</ons-page>