<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button>
                <ons-back-button id="feature-properties-back-button">Back</ons-back-button>
            </ons-toolbar-button>
        </div>
        <div class="center" id="title">
            Панель свойств объекта
        </div>
    </ons-toolbar>
    <div id="featureProperties" >
        <div id="local-map"></div>
        <div id="table"></div>
        <div id="photos">
            <ons-button modifier="outline light" id="addNewPhoto">
                <div>
                    <ons-icon icon="md-plus" size="30px"></ons-icon>
                    <p>Нажмите, чтобы<br/>добавить фотографию</p>
                </div>
            </ons-button>
        </div>
    </div>

    <ons-carousel direction="horizontal" item-width="25%" swipeable id="feature-instruments">
        <ons-carousel-item>
            <ons-button modifier="quiet" class="instruments-item-content" id="feature-instrument-map">
                <ons-icon class="signature" icon="md-map"></ons-icon>
            </ons-button>
        </ons-carousel-item>
        <ons-carousel-item>
            <ons-button modifier="quiet" class="instruments-item-content" id="feature-instrument-edit">
                <ons-icon class="signature" icon="md-edit"></ons-icon>
            </ons-button>
        </ons-carousel-item>
        <ons-carousel-item>
            <ons-button modifier="quiet" class="instruments-item-content" id="feature-instrument-edit-geometry">
                <ons-icon class="signature" icon="md-border-color"></ons-icon>
            </ons-button>
        </ons-carousel-item>
        <ons-carousel-item>
            <ons-button modifier="quiet" class="instruments-item-content" id="feature-instrument-delete">
                <ons-icon class="signature" icon="md-delete"></ons-icon>
            </ons-button>
        </ons-carousel-item>
    </ons-carousel>

    <div class="feature-under-bar" id="save-modification-bar">
        <ons-button id='saveModificationFeature' style="float:right; margin: 1%;">Сохранить</ons-button>
        <ons-button id="cancelModification" style="float:right; margin: 1%;">Отмена</ons-button>
    </div>

    <template id="chooseTypeEditGeometry">
        <ons-dialog id="choose-type-edit-geometry">
            <ons-toolbar class="dialog-toolbar">
                <div class="center dialog-toolbar-content">
                    Выбор режима редактирования
                </div>
                <div class="right">
                      <ons-toolbar-button onclick="hideDialog('choose-type-edit-geometry')">
                          <ons-icon icon="md-close" class="dialog-close"></ons-icon>
                      </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <ons-list class="choose-type-edit-geometry-list">
              <ons-list-item tappable class="choose-type-edit-geometry-list-item">
                <label class="left">
                  <ons-radio name="type-editing" input-id="map" id="choose-type-edit-geometry-map"  checked></ons-radio>
                </label>
                <label for="map" class="center">
                  Редактировать на карте
                </label>
              </ons-list-item>
              <ons-list-item tappable class="choose-type-edit-geometry-list-item">
                <label class="left">
                  <ons-radio name="type-editing" input-id="manual" id="choose-type-edit-geometry-manual"></ons-radio>
                </label>
                <label for="manual" class="center">
                  Редактировать координаты вручную
                </label>
              </ons-list-item>
            </ons-list>
            <ons-button modifier="quiet" id="choose-type-edit-geometry-button" style="float:right; margin-right: 2vw; margin-bottom: 1vh;">Далее</ons-button>  
        </ons-dialog>
    </template>

    <script>

        ons.getScriptPage().onInit = function() {
            featurePropertiesScript(this.data.feature);
        }

    </script>
</ons-page>