<ons-page>
    
    <ons-toolbar>
    <div class="left">
        
        <ons-toolbar-button onclick="fn.openMenu()"> 
        <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
        
    </div>
    <div class="center">
        Карта
    </div>

    <div class="right">
        <ons-toolbar-button id="push">
            <ons-icon icon="md-layers"></ons-icon>
        </ons-toolbar-button>
    </div>
    </ons-toolbar>

    <div id="map-container"></div>

    <ons-carousel overscrollable auto-scroll direction="horizontal" item-width="150px" swipeable id="draw-bar" class="downbar">
    </ons-carousel>

    <ons-carousel overscrollable auto-scroll direction="horizontal" item-width="150px" swipeable id="draw-instrument-bar" class="downbar">
        <ons-carousel-item>
            <div class="carousel-item-content" id="instrument-draw-center" onclick="drawInstrumentCenter()">
                Центр карты
            </div>
        </ons-carousel-item>
        <ons-carousel-item>
            <div class="carousel-item-content" id="intrument-draw-gps" onclick="drawInstrumentGPS()">
                Местонахождение устройства
            </div>
        </ons-carousel-item>
        <ons-carousel-item>
            <div class="carousel-item-content" id="instrument-draw-coordinate" onclick="showDrawInstrumentDialog()">
                Координаты
            </div>
        </ons-carousel-item>
    </ons-carousel>

    <template id="carousel-item">
        <ons-carousel-item>
            <div class="carousel-item-content">
            </div>
          </ons-carousel-item>
    </template>

    <template id="dialog_features">
        <ons-dialog id="dialog-features">
                <ons-toolbar class="dialog-toolbar">
                    <div class="center dialog-toolbar-content">
                        Выбранные элементы
                    </div>
                    <div class="right">
                        <ons-toolbar-button onclick="hideDialog('dialog-features')">
                            <ons-icon icon="md-close" class="dialog-close"></ons-icon>
                        </ons-toolbar-button>
                    </div>
                </ons-toolbar>
                <div > 
                <ons-list id="dialog-features-content">
                </ons-list>
                </div>
        </ons-dialog>
    </template>

    <template id="dialog_draw_instrument_coordinate">
        <ons-dialog id="dialog-draw-instrument-coordinate">
            <ons-toolbar class="dialog-toolbar">
                <div class="center dialog-toolbar-content">
                    Координаты
                </div>
                <div class="right">
                    <ons-toolbar-button onclick="hideDialog('dialog-draw-instrument-coordinate')">
                        <ons-icon icon="md-close" class="dialog-close"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div class="dialog-draw-instrument-coordinate-content">
                <p>Введите координаты</p>
                <div>
                    <span>Y:</span>
                    <ons-input id="Y-value" modifier="underbar" type="number" float value="0"></ons-input>
                </div>
                <div>
                    <span>X:</span>
                    <ons-input id="X-value" modifier="underbar" type="number" float value="0"></ons-input>
                </div>
                <ons-button modifier="quiet" onclick="drawInstrumentCoordinate()" style="float:right;">Установить</ons-button>
                <ons-button modifier="quiet" onclick="hideDialog('dialog-draw-instrument-coordinate')" style="float:right;">Отмена</ons-button>
            </div>
        </ons-dialog>
    </template>

    <script>
    ons.getScriptPage().onInit = function() {
        showMap()
        createDrawBar()

        this.querySelector('#push').onclick = function() {
            document.querySelector('#myNavigator').pushPage('./views/layers.html');
        };

        this.onShow = function() { 
            map.updateSize();
        };
    };

    function openFeatureProperties(feature){
        hideDialog('dialog-features')
        console.log('feature id', feature.id)
        console.log('layer id', feature.layerID)
        document.querySelector('#myNavigator').pushPage('./views/featureProperties.html', {data: {layerID: feature.layerID, featureID: feature.id}});
    }

    function showDialogFeatures(evt){
        let features = map.getFeaturesAtPixel(evt.pixel)
        if(features.length == 0){
            return
        }
        if(features.length == 1){
            openFeatureProperties(features[0])
            return
        }
        ons.createElement('dialog_features', {append: true})
            .then(function(dialog){
                let content = document.getElementById('dialog-features-content')
                let list = ''
                for(layer of layers){
                    for(feature of features){
                        if(layer.id == feature.layerID){
                            var header = ons._util.createElement("<ons-list-header></ons-list-header>")
                            header.innerHTML = layer.label
                            content.appendChild(header)
                            for(let feature of features){
                                if(feature.layerID == layer.id){
                                    var item = ons._util.createElement("<ons-list-item tappable></ons-list-item>")
                                    item.innerHTML = `Элемент: ${feature.id}`
                                    item.addEventListener("click", () => openFeatureProperties(feature), false)
                                    content.appendChild(item)
                                }
                            }
                            break
                        }
                    }
                }
                dialog.show()
            })
    }

    function openDrawBar(){
        let mapContainer = document.querySelector('#map-container')
        let drawBar = document.querySelector('#draw-bar')
        mapContainer.style['height'] = "90%"
        drawBar.style["display"] = "block"
        map.updateSize();
    }

    function closeDrawBar(){
        let mapContainer = document.querySelector('#map-container')
        let drawBar = document.querySelector('#draw-bar')
        mapContainer.style['height'] = "100%"
        drawBar.style["display"] = "none"
        map.updateSize();
    }

    function createDrawBar(){
        let drawBar = document.querySelector('#draw-bar')
        for(let layer of layers){
            let template = document.querySelector('#carousel-item')
            let carouselItem = template.content.cloneNode(true)
            carouselItem.querySelector('.carousel-item-content').innerHTML = clipping(layer.label, 18)
            carouselItem.querySelector('.carousel-item-content').addEventListener('click', function(){

                let drawButton = document.querySelector('.draw-button')
                drawButton.style['display'] = 'none'
                let acceptDrawButton = document.querySelector('.accept-draw-button')
                acceptDrawButton.style['display'] = 'block'

                let fabAcceptDrawButton = document.querySelector('.accept-draw-button-fab')
                fabAcceptDrawButton.setAttribute('disabled', 'true')
                

                drawBar.style['display'] = 'none'
                let drawInstrumentBar = document.querySelector('#draw-instrument-bar')
                drawInstrumentBar.style['display'] = 'block'

                addDrawInteraction(layer)
            })
            drawBar.appendChild(carouselItem)
        }
    }

    function drawInstrumentCenter(){
        appendCoordinate(currentMapView.getCenter())
    }

    function drawInstrumentGPS(){
        currentMapView.setCenter([gps_position.coords.longitude, gps_position.coords.latitude])
        let coordinate = ol.proj.fromLonLat([gps_position.coords.longitude, gps_position.coords.latitude])
        appendCoordinate(coordinate)
    }

    function showDrawInstrumentDialog(){
        ons.createElement('dialog_draw_instrument_coordinate', {append: true})
            .then(function(dialog){
                dialog.show()
            })
    }

    function drawInstrumentCoordinate(){
        let y = document.querySelector('#Y-value').value
        let x = document.querySelector('#X-value').value
        if(y < -90 || y > 90 || x > 180 || x < -180){
            ons.notification.alert('Недопустимые значения координат')
            return
        }
        hideDialog('dialog-draw-instrument-coordinate')
        appendCoordinate(ol.proj.fromLonLat([x, y]))
        currentMapView.setCenter(ol.proj.fromLonLat([x, y]))
    }

    function hideDialog(id){
        let dialog = document.getElementById(id)
        if(dialog){
            dialog.remove()
        }
    }

    </script>
</ons-page>