<ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button>
            <ons-back-button>Back</ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Слои
      </div>
    </ons-toolbar>
    <div id="layers-list"></div>
    <script>
        ons.getScriptPage().onInit = function() {
          var list = "<ons-list>"
          for(layer of layers){
            let label
            if(layer.label.length > 20){
              label = layer.label.slice(0, 20) + "..."
            }
            else{
              label = layer.label
            }
            list += "<ons-list-item tappable>" +
              "<label class='left'>" +
                `<ons-checkbox input-id=${layer.id} onClick=changeVisible('${layer.id}')></ons-checkbox>` + 
              "</label>" +
              "<label class='center'>" + label + "</label>" +
              `<label class='right'><ons-button modifier="quiet" onClick=showActionSheet('${layer.id}')>` +
                "<ons-icon icon='md-more-vert'></ons-icon>" +
              "</ons-button></label>" + 
            "</ons-list-item>"
          }
          list += "</ons-list>"
          var content = document.getElementById("layers-list")
          content.innerHTML = list
          for(layer of layers){
            if(layer.visible){
              document.querySelector(`ons-checkbox[input-id=${layer.id}]`).checked = true
            }
          }
        }
        function changeVisible(id){
          for(layer of layers){
            if(layer.id == id){
              layer.visible = !layer.visible
              layer.setVisible(layer.visible)
            }
          }
        }
        function showActionSheet(layerID){
          ons.openActionSheet({
            cancelable: true,
            buttons: [
              {
                label: 'Список атрибутов',
                modifier: 'destructive'
              },
              {
                label: 'Экспорт в kml',

              },
              {
                label: 'Назад',
                icon: 'md-close'
              }
            ]
          }).then(function (index) {
              if(index == 0){
                document.querySelector('#myNavigator').pushPage('./views/features.html', {data: {layerID: layerID}});
              }
              if(index == 1){
                exportKML(layerID)
              }
            });
        }


    </script>
</ons-page>