<ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button>
            <ons-back-button>Back</ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Слои
      </div>
    </ons-toolbar>

    <div id="layerListWithHandle" class="list-group">
    </div>

    <ons-list-item expandable>
      <span class="layers-label">Карта OSM</span>
      <div class="expandable-content">
        <ons-switch id="raster-layer-switch"></ons-switch>
          Использовать локальные тайлы
          </br>
          <ons-switch id="raster-layer-switch-visible"></ons-switch>
          <span>Показывать подложку</span>
        </div>
    </ons-list-item>

    <template id="layerListItem">
      <div class="list-group-item" onclick="changeVisible(this)">
        <ons-icon icon="md-reorder" class="reorder-move" size="150%"></ons-icon>
            <span class="layers-label"></span>
            <ons-button modifier="quiet" class="layers-more-button" onclick="showActionSheet(this, event)">
              <ons-icon icon='md-more-vert'></ons-icon>
            </ons-button>
        </div>
    </template>

    <script>
      var app = {}
        ons.getScriptPage().onInit = function() {
          var list = document.querySelector("#layerListWithHandle")
          var template = document.querySelector('#layerListItem')
          layers.sort(function(a, b){
            return b.getZIndex() - a.getZIndex()
          })
          for(layer of layers){
            let label = clipping(layer.label, 30)
            
            var item = template.content.cloneNode(true)
            item.querySelector('.layers-label').textContent = label
            item.querySelector('.list-group-item').setAttribute("data-id", layer.id)
            item.querySelector('.layers-more-button').setAttribute("layer_id", layer.id)
            if(layer.visible){
              item.querySelector('.list-group-item').style.backgroundColor = '#2375fa'
            }
            list.appendChild(item)
          }

          if(typeof localSource == 'undefined'){
            document.querySelector('#raster-layer-switch').setAttribute('disabled', 'true')
          }

          if(raster.isLocal){
            document.querySelector('#raster-layer-switch').setAttribute('checked', 'true')
          }
              
          document.querySelector('#raster-layer-switch').addEventListener('change', function(){
            raster.isLocal = !raster.isLocal
            if(raster.isLocal){
              raster.setSource(localSource)
            }
            else{
              raster.setSource(new ol.source.OSM({}))
            }
            updateInfo()
          })

          if(raster.visible){
            document.querySelector('#raster-layer-switch-visible').setAttribute('checked', 'true')
          }

          document.querySelector('#raster-layer-switch-visible').addEventListener('change', function(){
            raster.visible = !raster.visible
            raster.setVisible(raster.visible)
          })
        }

        function changeVisible(element){
          var layerID = element.getAttribute("data-id")
          for(layer of layers){
            if(layer.id == layerID){
              layer.visible = !layer.visible
              layer.setVisible(layer.visible)
              if(layer.visible){
                element.style.backgroundColor = '#2375fa'
              }
              else{
                element.style.backgroundColor = '#FFFFFF'
              }
            }
          }
        }

        function changeRasterVisible(element){
          raster.visible = !raster.visible
          raster.setVisible(raster.visible)
          if(raster.visible){
            element.style.backgroundColor = '#2375fa'
          }
          else{
            element.style.backgroundColor = '#FFFFFF'
          }
        }


        function showActionSheet(element, event){
          event.stopPropagation()
          var layerID = element.getAttribute("layer_id")
          ons.openActionSheet({
            cancelable: true,
            buttons: [
              {
                label: 'Список атрибутов',
                modifier: 'destructive'
              },
              {
                label: 'Экспорт в kml',

              },
              {
                label: 'Назад',
                icon: 'md-close'
              }
            ]
          }).then(function (index) {
              if(index == 0){
                document.querySelector('#myNavigator').pushPage('./views/features.html', {data: {layerID: layerID}});
              }
              if(index == 1){
                exportKML(layerID)
              }
            });

        }

        function clickRasterMenu(event){
          event.stopPropagation()
          showRasterSheet()
        }



      Sortable.create(layerListWithHandle, {
        handle: '.reorder-move',
        animation: 150,
        onUpdate: function(event){
          var count = layers.length
          for(layerID of this.toArray()){
            let layer = findLayer(layerID)
            layer.setZIndex(count)
            count--
          }
        }
      });
    </script>
    <style>

      .layers-more-button{
        position: absolute;
        left: 85%;
        bottom: 5%;
        color: black;
      }

    </style>
</ons-page>