<ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button>
            <ons-back-button>Back</ons-back-button>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Слои
      </div>
    </ons-toolbar>

    <div id="layerListWithHandle" class="list-group">
    </div>

    <div>Растровые подложки</div>
    <ons-list id="base-raster-layers-list"></ons-list>

    <template id="baseRasterLayerListItem">
      <ons-list-item expandable>
        <span class="label-base-raster-layer"></span>
        <div class="expandable-content">
          <ons-switch class="base-raster-local-switch"></ons-switch>
          Использовать локальные тайлы
          </br>
          <ons-switch class="base-raster-switch-visible"></ons-switch>
          <span>Показывать слой</span>
        </div>
      </ons-list-item>
    </template>

    <template id="layerListItem">
      <div class="list-group-item" onclick="changeVisible(this)">
          <ons-icon icon="md-reorder" class="reorder-move" size="150%"></ons-icon>
          <span class="layer-label"></span>
          <ons-icon class='block-icon' icon='md-block'></ons-icon>
          <ons-button modifier="quiet" class="layers-more-button" onclick="showActionSheet(this, event)">
            <ons-icon icon='md-more-vert'></ons-icon>
          </ons-button>
      </div>
    </template>

    <template id="file_chooser">
      <ons-dialog id="file-chooser">
              <ons-toolbar class="dialog-toolbar">
                  <div class="center dialog-toolbar-content">
                      Выберите файл KML
                  </div>
                  <div class="right">
                      <ons-toolbar-button onclick="hideDialog('file-chooser')">
                          <ons-icon icon="md-close" class="dialog-close"></ons-icon>
                      </ons-toolbar-button>
                  </div>
              </ons-toolbar>
              <ons-list id="dialog-file-chooser-content">
              </ons-list>
      </ons-dialog>
  </template>

  <template id="comparison_KML">
    <ons-dialog id="comparison-KML">
            <ons-toolbar class="dialog-toolbar">
                <div class="center dialog-toolbar-content">
                    Сопоставление атрибутов
                </div>
                <div class="right">
                    <ons-toolbar-button onclick="hideDialog('comparison-KML')">
                        <ons-icon icon="md-close" class="dialog-close"></ons-icon>
                    </ons-toolbar-button>
                </div>
            </ons-toolbar>
            <div id="dialog-comparison-KML-content">
                <p>Соотнесите служебные имена характеристик в левой части (атрибуты из панели свойств)
                     и имена характеристик в правой (полученные из импортируемого Вами файла)</p>
                <div id="dialog-list-properties">
                </div>
                <ons-button modifier="quiet" id="acceptImportKML" style="float:right;">Применить</ons-button>
                <ons-button modifier="quiet" onclick="hideDialog('comparison-KML')" style="float:right;">Отмена</ons-button>
            </div>
    </ons-dialog>
</template>

<template id="choose_path_to_KML">
  <ons-dialog id="choose-path-to-KML">
    <ons-toolbar class="dialog-toolbar">
      <div class="center dialog-toolbar-content">
          Выберите путь к KML
      </div>
      <div class="right">
          <ons-toolbar-button onclick="hideDialog('choose-path-to-KML')">
              <ons-icon icon="md-close" class="dialog-close"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-list id="path-chooser-KML">
      <ons-list-item tappable class="path-chooser-kml-list-item">
        <label class="left">
          <ons-radio name="pathToKML" input-id="media" id="media-path" checked></ons-radio>
        </label>
        <label for="media" class="center">
          Android/media/io.cordova.sgiomob/KML
        </label>
      </ons-list-item>
      <ons-list-item tappable class="path-chooser-kml-list-item">
        <label class="left">
          <ons-radio name="pathToKML" input-id="iternal" id="iternal-path"></ons-radio>
        </label>
        <label for="iternal" class="center">
          Android/data/io.cordova.sgiomob/Project/KML
        </label>
      </ons-list-item>
    </ons-list>
    <ons-button modifier="quiet" id="buttonFileChooser" style="float:right;">Далее</ons-button>
  </ons-dialog>
</template>

    <script>
        ons.getScriptPage().onInit = function() {
          var list = document.querySelector("#layerListWithHandle")
          var template = document.querySelector('#layerListItem')
          layers.sort(function(a, b){
            return b.getZIndex() - a.getZIndex()
          })
          for(layer of layers){
            
            var item = template.content.cloneNode(true)
            item.querySelector('.layer-label').textContent = layer.label
            item.querySelector('.list-group-item').setAttribute("data-id", layer.id)
            item.querySelector('.layers-more-button').setAttribute("layer_id", layer.id)
            if(layer.enabled){
              item.querySelector('.block-icon').style['display'] = 'none';
            }
            if(layer.getVisible()){
              item.querySelector('.list-group-item').style.backgroundColor = '#2375fa'
            }
            list.appendChild(item)
          }

          createBaseRasterList();
        }

      Sortable.create(layerListWithHandle, {
        handle: '.reorder-move',
        animation: 150,
        onUpdate: function(event){
          var count = layers.length
          for(layerID of this.toArray()){
            let layer = findLayer(layerID)
            layer.setZIndex(count)
            count--
          }
        }
      });

    </script>
</ons-page>