#featureProperties{
    background-color: white;
    height: 90%;
    width: 100%;
    overflow: scroll;
}

#local-map {
    margin: 0;
    height: 30%;
    width: 100%;
    font-family: sans-serif;
}

#featureProperties .title{
    color: dimgrey;
    text-align: right;
    font-size: small;
    width: 20%;
}

#featureProperties .content{
    text-align: center;
    padding: 3%;
}

.metric{
    text-align: center;
    padding: 3%;
}

#feature-instruments{
    background-color: white;
    height: 10%;
    display: block;
    border: 1px #8e9191;
}

#feature-instruments .carousel-item-content{
    text-align: center; 
    padding: 5%;
    border: 1px #8e9191;
}
  
#feature-instruments .carousel-item-content:hover{
    background-color: #c0c2c2;
}

#featureProperties .under-bar{
    display: none;
}