#map-container {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.zoom-plus{
  top: 78%;
  left: 8700%;

}

.zoom-minus{
  top: 80%;
  left: 8700%;
}

.buttons{
  z-index: 1000;
  width: 1%;
  height: 100%;
}

.gps-button{
  top: 70%;
  left: 200%;
}
